#geobettr {
    position: absolute;
    top: 0;
    height: 0;
    z-index: 1;
}

#geobettr_menu {
    display: inline-block;
    vertical-align: top;
    padding-top: 80px;
}

#geobettr_menu .geobettr_button {
    padding: 0;
    height: 32px;
    width: 32px;
    display: block;
    margin: 5px 0 0 5px;
}

#geobettr_component {
    display: inline-block;
    vertical-align: top;
    pointer-events: none;
    padding-top: 5px;
    padding-left: 5px;
}

.geobettr_notepad_container {
    pointer-events: none;
}

.geobettr_notepad_container .geobettr_notepad_textarea {
    width: 40vw;
    height: 60vh;
    padding: 0 5px;
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
    text-shadow: 2px 2px black;
    resize: none;
    opacity: 0.5;
    outline: none;
    overflow: hidden;
}

.geobettr_notepad_textarea.geobettr_full_opacity {
    opacity: 1;
}

.geobettr_notepad_textarea.geobettr_hidden {
    opacity: 0;
}

.geobettr_notepad_container.geobettr_focus {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.4);
}

.geobettr_notepad_container.geobettr_focus .geobettr_notepad_textarea {
    opacity: 1;
    overflow: auto;
}